[Unit]
Description=Check Metadata Server for Update

[Service]
Type=simple
ExecStart=/opt/check-metadata-server/check-metadata-server.sh raven stable
